# Ignore all __pycache__ directories and their contents
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore repo-root tools/ only (not AERepository/tools/)
/tools/

GenTools/TinyStudioLauncher/build/
GenTools/TinyStudioLauncher/dist/

testScripts

_Deprecated/*

Docs/*
